$whiteColor: #ffffff;
$greyColor: #adb5bd;
$lightGreyColor: #faf9f9;
// $lightGreyColor2: #f8f9fa;
$lightGreyColor2: #f5f3f4;
$redColor: #c32f27;
$lightGreenColor: #7dcfb6;
$pinkColor: #ff4d6d;
$headerMargin: 35px;
$spanFontSize: 1.5rem;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    width: 1400px;
    max-width: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

 p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

span {
    font-family: 'Kaushan Script', cursive;
}

.rectangle {
    display: block;
    margin: 0 auto;
    width: 60px;
    border-top: 2px solid $whiteColor;
    margin-bottom: $headerMargin;
}

.rectangle-red {
    display: block;
    margin: 0 auto;
    width: 60px;
    border-top: 2px solid $redColor;
    margin-top: $headerMargin;
    margin-bottom: $headerMargin;
}

.active-button {
    border: 2px solid#ffffff;
    border-radius: 4px;
}

.mobile-menu {
    display: none;
    float: right;
    margin-top: 5px;
    button {
        background: none;
        border: none;
        cursor: pointer;
    }
    .mobile-nav-links {
        display: none;
        position: absolute;
        top: 7vh;
        right: 4vw;
        line-height: 28px;
    }
}

.overlay {
    visibility: hidden;
    img {
        margin-top: 90px;
    }
    p {
        text-transform: uppercase;
        color: $whiteColor !important;
        font-weight: bold;
    }
}

.overlay-with-social {
    visibility: hidden;
    img {
        margin-top: 170px;
    }
    img:nth-child(1) {
        background-color: rgba(255,117,110,0.84);
        padding: 10px;
        padding-left: 16px;
        padding-right: 16px;
        float: left;
        margin-left: 65px;
    }
    img:nth-child(2) {
        background-color: rgba(255,208,107,0.84);
        padding: 10px;
        padding-bottom: 14px;
        float: left;
    }
    img:nth-child(3) {
        background-color: rgba(255,208,107,0.84);
        padding: 10px;
        float: left;
        border-left: 1px solid rgba(255,117,110,0.84);
        border-right: 1px solid rgba(255,117,110,0.84);
        padding-left: 13px;
        padding-right: 13px;
    }
    img:nth-child(4) {
        background-color: rgba(255,208,107,0.84);
        padding: 10px;
        float: left;
    }
}

.overlay-3 {
    visibility: hidden;
    text-align: center;
    height: 100%;
    .overlay-content {
        margin: 0;
        font-size: 1rem;
        position: absolute;
        top: 25%;
        transform: translate(50%, 50%);
        width: 50%;
        img {
            margin-bottom: 15px;
        }
        p {
            text-transform: uppercase;
            color: $whiteColor !important;
            font-weight: bold;
            margin-bottom: 15px;
            font-size: 1vw;
        }
    }
}

header {
    background-image: linear-gradient(0deg, rgba(255,208,107,0.84) 0%, rgba(255,117,110,0.84) 100%), url('../../assets/header-image/pexels-radovan-zierik-5138164.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: auto;
    nav {
        display: block;
        padding-top: 20px;
        a:link {
            text-decoration: none;
            color: $whiteColor;
        }
        .web-name {
            float: left;
            font-weight: bold;
            font-size: 2rem;
            font-family: 'Montserrat', sans-serif;
        }
        .nav-links {
            word-spacing: 30px;
            margin-top: 6px;
            font-size: 1rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            float: right;
            text-transform: uppercase;
            a:hover {
                color: rgb(255, 191, 72);
                padding-bottom: 5px;
                border-bottom: 2px solid rgb(255, 191, 72);
            }
        }
    } 
    .header-content {
        margin: 0 auto;
        clear: both;
        display: block;
        text-align: center;
        color: $whiteColor;
        margin-top: 18vh;
        span {
            text-transform: capitalize; 
            font-size: calc(24px + 1vw);          
        }
        h1 {
            // Blogas blokas ant telefonu!
            margin: 0 auto;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            line-height: 95%;
            font-size: calc(40px + 2vw);
            margin-top: 18px;
            margin-bottom: 25px;
        }
        button {
            text-transform: uppercase;
            color: $whiteColor;
            background: transparent;
            border: 2px solid $whiteColor;
            width: 100%;
            max-width: 150px;
            padding: 7px;
            cursor: pointer;
        }
        button:hover {
            border: 2px solid #000000;
            color: #000000;
        }
    }
    .header-bottom-content {
        text-align: center;
        display: block;
        padding-bottom: 15px;
        section {
            display: inline-block;
            color: $whiteColor;
            width: 12vw;
            text-align: left;
            margin: 10px;
            p {
                text-transform: uppercase;
                margin-top: 14vh;
                span {
                    font-weight: 1000;
                    font-size: 1.3rem;
                    font-family: 'Montserrat', sans-serif;
                }
            }
            .colorfull-border-top {
                content:"";
                width:100%;
                height: 2px;
                left:0;
                top:0;
                background:linear-gradient(to right, red 30%, white 10%);
                p {
                    padding-top: 10px;
                }
            }
            .border-top {
                content:"";
                width:100%;
                height: 2px;
                left:0;
                top:0;
                background:linear-gradient(white 100%);
                p {
                    padding-top: 10px;
                }
            }
        }
    }   
}

main {
    section {
        display: block;
        margin: 0 auto;
        .story-about-us-block {
            padding-top: 75px;
            text-align: center;
            span {
                font-size: $spanFontSize;    
            }
            h1 {
                margin-top: 15px;
            }
            .rectangle-red {
                border-top: 2px solid $redColor;
            }
            p {
                width: 80%;
                margin: 0 auto;
                color: $greyColor;
            } 
            .images {
                margin-top: 80px;
                .image-wrapper {
                    display: inline-block;
                    padding: 15px;
                    max-width: 100%;
                    .first-image {
                        background-image: url('../../assets/first-block-images/pexels-pixabay-39578.jpg');
                        background-size: 100% 100%;
                        width: 330px;
                        height: 230px;
                        max-width: 100%;
                        cursor: pointer;
                    }
                    .first-image:hover {
                        background-image: linear-gradient(0deg, rgba(255,208,107,0.84) 0%, rgba(255,117,110,0.84) 100%), url('../../assets/first-block-images/pexels-pixabay-39578.jpg');
                        box-shadow: 7px 7px $lightGreenColor;
                        .overlay {
                            visibility: visible;
                        }
                    }
    
                    .second-image {
                        background-image: url('../../assets/first-block-images/pexels-garrett-morrow-610945.jpg');
                        background-size: 100% 100%;
                        width: 330px;
                        height: 230px;
                        max-width: 100%;
                        box-sizing: border-box;
                        cursor: pointer;
                    }
                    .second-image:hover {
                        background-image: linear-gradient(0deg, rgba(255,208,107,0.84) 0%, rgba(255,117,110,0.84) 100%), url('../../assets/first-block-images/pexels-garrett-morrow-610945.jpg');
                        box-shadow: 7px 7px $lightGreenColor;
                        .overlay {
                            visibility: visible;
                        }
                    }
    
                    .third-image {
                        background-image: url('../../assets/first-block-images/pexels-reezky-pradata-441963.jpg');
                        background-size: 100% 100%;
                        width: 330px;
                        height: 230px;
                        max-width: 100%;
                        cursor: pointer;
                    }
                    .third-image:hover {
                        background-image: linear-gradient(0deg, rgba(255,208,107,0.84) 0%, rgba(255,117,110,0.84) 100%), url('../../assets/first-block-images/pexels-reezky-pradata-441963.jpg');
                        box-shadow: 7px 7px $lightGreenColor;
                        .overlay {
                            visibility: visible;
                        }
                    }
                }
            }  
        }
    }
    
    section {
        display: block;
        height: auto;
        .statistics-block {
            text-align: center;
            background-color: $lightGreenColor;
            margin-top: 105px;
            .stats {
                display: inline-block;
                color: $whiteColor;
                border-left: 1px solid $whiteColor;
                padding: 58px 28px 58px 28px;
                width: 19.7%;
                .number {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 3rem;
                }
                span {
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    text-transform: uppercase;
                    font-size: 0.63rem;
                    opacity: 20;
                }
            }
            .stats:nth-child(5) {
                border-right: 1px solid $whiteColor;
            }
            
        }
    }
    
    section {
        .amazing-services-block {
            margin-top: 75px;
            text-align: center;
            span {
                font-size: $spanFontSize;
            }
            h1 {
                margin-top: 15px;
            }
            .rectangle-red {
                margin-bottom: 60px;
            }
            .upper-content {
                display: block;
                width: 80%;
                margin: 0 auto;
                .content-wrapper {
                    display: inline-block;
                    width: 33%;
                    text-align: left;
                    height: 150px;
                    .img {
                        float: left;
                    }
                    .content {
                        float: right;
                        width: 85%;
                        h5 {
                            margin-bottom: 10px;
                        }
                        p {
                            color: $greyColor
                        }
                    }
                }
            }
            .lower-content {
                display: block;
                width: 80%;
                margin: 0 auto;
                .content-wrapper {
                    display: inline-block;
                    width: 33%;
                    text-align: left;
                    height: 150px;
                    .img {
                        float: left;
                    }
                    .content {
                        float: right;
                        width: 85%;
                        h5 {
                            margin-bottom: 10px;
                        }
                        p {
                            color: $greyColor
                        }
                    }
                }   
            }
        }
    }
    
    section {
        .unique-design-block {
            position: relative;
            .content-wrapper {
                display: block;
                position: relative;
                text-align: center;
                padding-top: 75px;
                span {
                    font-size: $spanFontSize;
                }
                h1 {
                    margin-top: 15px;
                }
                img {
                    // width: 100vw;
                    max-width: 25vw;
                    // padding-top: 150px;
                }
            }
        }
        .unique-design-block::before {
            content: "";
            background-image: linear-gradient(90deg, rgba(255,255,255,0.8267682072829132) 100%, rgba(9,9,121,0.48783263305322133) 100%, rgba(0,212,255,1) 100%), url('../assets/unique-design-image/nathan-dumlao-q3YZ4g7j9yc-unsplash.jpg');
            background-size: 100% 100%;
            width: 100%;
            height: 90.2%;
            filter: grayscale(1);
            position: absolute;
        }
    }
    
    section {
        .service-block {
            display: block;
            text-align: center;
            span {
                font-size: $spanFontSize;
            }
            h1 {
                margin-top: 15px;
            }
            p {
                display: block;
                width: 70%;
                margin: 0 auto;
                color: $greyColor;
                padding-bottom: 95px;
            }
            .img {
                float: left;
                img {
                    width: 100%;
                    max-width: 490px;
                    height: 380px;
                }
            }
            .dropdowns {
                float: right;
                margin-bottom: 95px !important;
                .dropdown {
                    width: 490px;
                    .dropdown-wrapper {
                        border: 1px solid $greyColor;
                        .dropdown-header {
                            border-bottom: 1px solid $greyColor;
                            padding-top: 10px;
                            padding-bottom: 6px;
                            .dropdown-image {
                                display: inline-block;
                                vertical-align: middle;
                            }
                            .dropdown-heading {
                                display: inline-block;
                                margin-right: 145px;
                                margin-left: 145px;
                            }
                            .dropdown-button {
                                display: inline-block;
                                vertical-align: middle;
                                button {
                                    border: none;
                                    background: transparent;
                                    cursor: pointer;
                                }
                            }
                        }
                        .dropdown-content {
                            text-align: left;
                            width: 467px;
                            overflow-y: scroll;
                            height: 195px;
                            p {
                                width: 100%;
                                padding: 13px;
                                font-style: italic;
                            }
                        }
                    }
                }
                ::-webkit-scrollbar {
                    width: 4px;
                }
              
                ::-webkit-scrollbar-track {
                    background-color: lightgray;
                    margin-top: 13px;
                    margin-bottom: 13px;
                    border-radius: 30px;
                }
              
                ::-webkit-scrollbar-thumb {
                    background: $lightGreenColor;
                    border-radius: 30px;
                }
                .dropdown:nth-child(2) {
                    margin-top: 10px;
                    .dropdown-heading {
                        margin-right: 160px !important;
                        margin-left: 160px !important;
                    }
                }
                .dropdown:nth-child(3) {
                    margin-top: 10px;
                    .dropdown-heading {
                        margin-right: 154px !important;
                        margin-left: 154px !important;
                    }
                }
            }
        }
    }
    
    section {
        .carousele-block {
            display: block;
            clear: both;
            background-color: $lightGreyColor2;
            height: auto; 
            padding-top: 50px;
            padding-bottom: 50px;
            margin-bottom: 65px;
            .icon-left {
                display: inline-block;
                vertical-align: middle;
                margin-right: 50px;
            }
            .image {
                display: inline-block;
                vertical-align: middle;
                margin-right: 50px;
                img {
                    // width: 100px;
                    border: 3px solid $lightGreenColor;
                    padding: 30px;
                }
            }
            .content {
                display: inline-block;
                vertical-align: middle;
                width: 70%;
                margin: 0 auto;
                .author-name {
                    margin-top: 15px;
                    .rectangle-red {
                        margin-left: 0;
                        margin-top: 0;
                        margin-bottom: 0;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                span {
                    margin-left: 5px;
                    vertical-align: middle;
                }
            }
            .icon-right {
                display: inline-block;
                vertical-align: middle;
                margin-left: 50px;
            }
        }
    }
    
    section {
        .meet-our-team-block {
            text-align: center;
            span {
                font-size: $spanFontSize;
            }
            h1 {
                margin-top: 15px;
            }
            p {
                display: block;
                width: 70%;
                margin: 0 auto;
                color: $greyColor;
                padding-bottom: 95px;
            }
            .images {
                .image-wrapper {
                    display: inline-block;
                    padding: 15px;
                    max-width: 100%;
                    .first-image {
                        background-image: url('../../assets/meet-our-team-images/Layer 16.jpg');
                        background-size: cover;
                        background-position: 24% 0;
                        width: 310px;
                        height: 380px;
                        max-width: 100%;
                        cursor: pointer;
                    }
                    .first-image:hover {
                        background-image: linear-gradient(0deg, rgba(255,208,107,0.84) 0%, rgba(255,117,110,0.84) 100%), url('../../assets/meet-our-team-images/Layer 16.jpg');
                        box-shadow: 7px 7px $lightGreenColor;
                        .overlay-with-social {
                            visibility: visible;
                        }
                    }
    
                    .second-image {
                        background-image: url('../../assets/meet-our-team-images/Layer 19.jpg');
                        background-size: cover;
                        background-position: 60% 0;
                        width: 310px;
                        height: 380px;
                        max-width: 100%;
                        box-sizing: border-box;
                        cursor: pointer;
                    }
                    .second-image:hover {
                        background-image: linear-gradient(0deg, rgba(255,208,107,0.84) 0%, rgba(255,117,110,0.84) 100%), url('../../assets/meet-our-team-images/Layer 19.jpg');
                        box-shadow: 7px 7px $lightGreenColor;
                        .overlay-with-social {
                            visibility: visible;
                        }
                    }
    
                    .third-image {
                        background-image: url('../../assets/meet-our-team-images/Layer 18.jpg');
                        background-size: cover;
                        background-position: 50% 0;
                        width: 310px;
                        height: 380px;
                        max-width: 100%;
                        cursor: pointer;
                    }
                    .third-image:hover {
                        background-image: linear-gradient(0deg, rgba(255,208,107,0.84) 0%, rgba(255,117,110,0.84) 100%), url('../../assets/meet-our-team-images/Layer 18.jpg');
                        box-shadow: 7px 7px $lightGreenColor;
                        .overlay-with-social {
                            visibility: visible;
                        }
                    }
                    .person {
                        margin-top: 25px;
                        h5 {
                            margin-bottom: 7px;
                        }
                    }
                }
            }
        }
    }
    
    section {
        display: block;
        .random-logos {
            text-align: center;
            background-color: $lightGreyColor2;
            .logo {
                display: inline-block;
                vertical-align: middle;
                padding: 55px 35px 55px 35px;
                img {
                    max-width: 120px;
                }
            }            
        }
    }
    
    section {
        display: block;
        margin: 0 auto;
        .our-work-block {
            padding-top: 75px;
            text-align: center;
            span {
                font-size: $spanFontSize;    
            }
            h1 {
                margin-top: 15px;
            }
            .rectangle-red {
                border-top: 2px solid $redColor;
            }
            p {
                width: 80%;
                margin: 0 auto;
                color: $greyColor;
            }   
        }

        .photos {
            font-size: 0;
            width: 100%;
            display: block;
            .first-photos-block {
                font-size: 0;
                display: inline-block;
                width: 50%;
                .images-block-1 {
                    display: inline-block;
                    width: 50%;
                    .image-1 {
                        background-image: url('../assets/some-of-work-images/Layer 26.jpg');
                        background-size: cover;
                        background-position: 100% 90%;
                        height: 410px;
                        // max-width: 476px;
                        width: 100%;
                        cursor: pointer;
                        position: relative;
                    }
                    .image-1:hover {
                        background-image: linear-gradient(0deg, rgba(255,208,107,0.84) 0%, rgba(255,117,110,0.84) 100%), url('../assets/some-of-work-images/Layer 26.jpg');
                        .overlay-3 {
                            visibility: visible;
                        }
                    }
                    .image-2 {
                        background-image: url('../assets/some-of-work-images/Layer 35.jpg');
                        background-size: cover;
                        background-position: 100% 90%;
                        height: 410px;
                        // max-width: 476px;
                        width: 100%;
                        cursor: pointer;
                        position: relative;
                    }
                    .image-2:hover {
                        background-image: linear-gradient(0deg, rgba(255,208,107,0.84) 0%, rgba(255,117,110,0.84) 100%), url('../assets/some-of-work-images/Layer 35.jpg');
                        .overlay-3 {
                            visibility: visible;
                        }
                    }
                }
                .images-block-2 {
                    display: inline-block;
                    width: 50%;
                    .image-1 {
                        background-image: url('../assets/some-of-work-images/Layer 33.jpg');
                        background-size: cover;
                        background-position: 100% 90%;
                        height: 410px;
                        // max-width: 476px;
                        width: 100%;
                        cursor: pointer;
                        position: relative;
                    }
                    .image-1:hover {
                        background-image: linear-gradient(0deg, rgba(255,208,107,0.84) 0%, rgba(255,117,110,0.84) 100%), url('../assets/some-of-work-images/Layer 33.jpg');
                        .overlay-3 {
                            visibility: visible;
                        }
                    }
                    .image-2 {
                        background-image: url('../assets/some-of-work-images/Layer 29.jpg');
                        background-size: cover;
                        background-position: 100% 90%;
                        height: 410px;
                        background-repeat: no-repeat;
                        // max-width: 476px;
                        width: 100%;
                        cursor: pointer;
                        position: relative;
                    }
                    .image-2:hover {
                        background-image: linear-gradient(0deg, rgba(255,208,107,0.84) 0%, rgba(255,117,110,0.84) 100%), url('../assets/some-of-work-images/Layer 29.jpg');
                        .overlay-3 {
                            visibility: visible;
                        }
                    }
                }
            }
            .second-photos-block {
                font-size: 0;
                display: inline-block;
                width: 50%;
                .center-image {
                    display: inline-block;
                    width: 50%;
                    vertical-align: top;
                   .image {
                    background-image: url('../assets/some-of-work-images/Layer 34.jpg');
                    background-size: cover;
                    background-position: 48% 100%;
                    height: 820px;
                    // max-width: 476px;
                    width: 100%;
                    cursor: pointer;
                    position: relative;
                   } 
                   .image:hover {
                    background-image: linear-gradient(0deg, rgba(255,208,107,0.84) 0%, rgba(255,117,110,0.84) 100%), url('../assets/some-of-work-images/Layer 34.jpg') !important;
                    .overlay-3 {
                        visibility: visible;
                    }
                }
                }
                .images-block {
                    display: inline-block;
                    width: 50%;
                    .image-1 {
                        background-image: url('../assets/some-of-work-images/Layer 31.jpg');
                        background-size: cover;
                        background-position: 100% 5%;
                        height: 410px;
                        // max-width: 476px;
                        width: 100%;
                        cursor: pointer;
                        position: relative;
                    }
                    .image-1:hover {
                        background-image: linear-gradient(0deg, rgba(255,208,107,0.84) 0%, rgba(255,117,110,0.84) 100%), url('../assets/some-of-work-images/Layer 31.jpg');
                        .overlay-3 {
                            visibility: visible;
                        }
                    }
                    
                    .image-2 {
                        background-image: url('../assets/some-of-work-images/Layer 32.jpg');
                        background-size: cover;
                        background-position: 100% 5%;
                        height: 410px;
                        // max-width: 476px;
                        width: 100%;
                        cursor: pointer;
                        position: relative;
                    }
                    .image-2:hover {
                        background-image: linear-gradient(0deg, rgba(255,208,107,0.84) 0%, rgba(255,117,110,0.84) 100%), url('../assets/some-of-work-images/Layer 32.jpg');
                        .overlay-3 {
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }

    section {
        .carousele-block-2 {
            display: block;
            // padding-top: 50px;
            // padding-bottom: 50px;
            margin-bottom: 105px;
            .icon-left {
                display: inline-block;
                vertical-align: middle;
                margin-right: 50px;
            }
            .image {
                display: inline-block;
                vertical-align: middle;
                margin-right: 50px;
                img {
                    background-size: 100% 100%;
                    max-width: 160px;
                    height: 160px;
                    border-radius: 50%;
                }
            }
            .content {
                display: inline-block;
                vertical-align: middle;
                width: 70%;
                margin: 0 auto;
                .author-name {
                    margin-top: 15px;
                    .rectangle-red {
                        margin-left: 0;
                        margin-top: 0;
                        margin-bottom: 0;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                span {
                    margin-left: 5px;
                    vertical-align: middle;
                }
            }
            .icon-right {
                display: inline-block;
                vertical-align: middle;
                margin-left: 50px;
            }
        }
    }
    
    section {
        .what-people-say-block {
            position: relative;
            .content-wrapper {
                display: block;
                position: relative;
                padding-top: 75px;
                width: 90%;
                margin: 0 auto;
                .heading {
                    text-align: center;
                    span {
                        font-size: $spanFontSize;
                    }
                    h1 {
                        margin-top: 15px;
                    }
                }
                .block-wrapper {
                    display: inline-block;
                    overflow: hidden;
                    width: 49%;
                    // margin: 0 auto; 
                    .person {
                        // text-align: center;
                        // width: 80%;
                        .image {
                            display: inline-block;
                            vertical-align: top;
                            img {
                                border-radius: 50%;
                                height: 100px;
                                width: 100px;
                                object-fit: cover;
                                // object-position: 30% 0;
                            }
                        }
                        .context {
                            display: inline-block;
                            width: 60%; 
                            h5 {

                            }
                            span {

                            }
                            .rectangle-red {
                                margin-left: 0;
                                margin-top: 10px !important;
                                margin-bottom: 10px !important;
                            }
                            p {
                                
                            }
                        }
                    }
                }
            }
        }
        .what-people-say-block::before {
            content: "";
            background-image: linear-gradient(90deg, rgba(255,255,255,0.8267682072829132) 100%, rgba(9,9,121,0.48783263305322133) 100%, rgba(0,212,255,1) 100%), url('../assets/unique-design-image/nathan-dumlao-q3YZ4g7j9yc-unsplash.jpg');
            background-size: 100% 100%;
            width: 100%;
            height: 100%;
            filter: grayscale(1);
            position: absolute;
        }
    }
    
    section {
        .latest-blog-block {
            text-align: center;
            font-size: 0;
            span {
                font-size: $spanFontSize;
            }
            h1 {
                margin-top: 15px;
            }
            .images {
                .image-wrapper {
                    vertical-align: top;
                    display: inline-block;
                    padding: 25px;
                    max-width: 380px;
                    font-size: 1rem;
                    .first-image {
                        background-image: url('../../assets/latest-blog-images/Layer 54.jpg');
                        background-size: 100% 100%;
                        height: 230px;
                        cursor: pointer;
                        .date {
                            position: absolute; 
                            margin-left: -10px; 
                            background-color: $lightGreenColor; 
                            padding: 4px; 
                            margin-top: 160px;
                            color: $whiteColor;
                        }
                    }
    
                    .second-image {
                        background-image: url('../../assets/latest-blog-images/Layer 55.jpg');
                        background-size: 100% 100%;
                        height: 230px;
                        max-width: 100%;
                        cursor: pointer;
                        .date {
                            position: absolute; 
                            margin-left: -10px; 
                            background-color: $lightGreenColor; 
                            padding: 4px; 
                            margin-top: 160px;
                            color: $whiteColor;
                        }
                    }
    
                    .third-image {
                        background-image: url('../../assets/latest-blog-images/Layer 57.jpg');
                        background-size: 100% 100%;
                        height: 230px;
                        max-width: 100%;
                        cursor: pointer;
                        // vertical-align: top;
                        .date {
                            position: absolute; 
                            margin-left: -10px; 
                            background-color: $lightGreenColor; 
                            padding: 4px; 
                            margin-top: 160px;
                            color: $whiteColor;
                        }
                    }
                    .context {
                        text-align: left;
                        // width: 70%;
                    }
                }
            }
        }
    }
    
    section {
        .map-block {
            position: relative;
            .content-wrapper {
                display: block;
                position: relative;
                text-align: center;
                padding-top: 65px;
                h1 {
                    margin-top: 15px;
                    color: $pinkColor;
                }
                .rectangle-pink {
                    display: block;
                    margin: 0 auto;
                    width: 60px;
                    border-top: 3px solid $pinkColor;
                    margin-top: $headerMargin;
                    margin-bottom: $headerMargin;
                }
                img {
                    // width: 100vw;
                    // max-width: 25vw;
                    // padding-top: 150px;
                }
            }
        }
        .map-block::before {
            content: "";
            background-image: linear-gradient(90deg, rgba(255,255,255,0.8267682072829132) 100%, rgba(9,9,121,0.48783263305322133) 100%, rgba(0,212,255,1) 100%), url('../assets/unique-design-image/nathan-dumlao-q3YZ4g7j9yc-unsplash.jpg');
            background-size: 100% 100%;
            width: 100%;
            // height: 90.2%;
            height: 250px;
            filter: grayscale(1);
            position: absolute;
        }
    }
}

footer {
    font-size: 1rem;
    .mogo-footer {
        // text-align: center;
        margin-top: 150px;
        font-size: 0;
        .left-content {
            display: inline-block;
            width: 33%;
            margin: 0 auto;
            max-width: 100%;
            vertical-align: top;
            h2 {
                font-size: xx-large;
                margin-bottom: 30px
            }
            p {
                margin-bottom: 30px;
                font-size: 1rem;
            }
            form {
                input {
                    display: inline-block;
                    height: 39px;
                    max-width: 250px;
                    border: 1px solid $greyColor;
                }
                ::placeholder {
                    padding: 26px;
                }
                button {
                    display: inline-block;
                    padding: 12px 30px 12px 30px;
                    background-color: $lightGreenColor;
                    color: $whiteColor;
                    font-weight: bold;
                    text-transform: uppercase;
                    border: none;
                    cursor: pointer;
                }
            }
        }
        .center-content {
            display: inline-block;
            width: 33%;
            margin: 0 auto;
            vertical-align: top;
            font-size: 1rem;
            h3 {
                margin-bottom: 35px;
            }
            .blog {
                .text {
                    display: inline-block; 
                    vertical-align: top; 
                    width: 60%;
                }
            }
        }
        .right-content {
            display: inline-block;
            width: 33%;
            margin: 0 auto;
            vertical-align: top;
            font-size: 1rem;
        }
        p {
            font-size: 1rem;
        }
    }
}

@media only screen and (max-width: 1450px) {
    .container {
        width: 95%;
    }
    // .header-content {
    //     h1 {
    //         font-size: 6vw;
    //     }
    // }
}

@media only screen and (max-width: 1280px) {
    // .header-content {
    //     h1 {
    //         font-size: 6vw;
    //     }
    // }
}

@media only screen and (max-width: 1062px) {
    .upper-content {
        width: 100% !important;
    }
    .lower-content {
        width: 100% !important;
    }
}

@media only screen and (max-width: 852px) {
    .upper-content {
        width: 100% !important;
        .content-wrapper {
            width: 32% !important;
        }
    }
    .lower-content {
        width: 100% !important;
        .content-wrapper {
            width: 32% !important;
        }
    }
}

@media only screen and (max-width: 730px) {
    .container {
        width: 90%;
    }
    .nav-links {
      display: none;
    }
    .mobile-menu{
        display: block;
        .mobile-nav-links {
            z-index: 10;
        }
    }
    .upper-content {
        .content-wrapper {
            .img {
                margin-left: 30px;
            }
        }
    }
    .lower-content {
        padding-top: 95px;
        .content-wrapper {
            .img {
                margin-left: 30px;
            }
        }
    }
}

@media only screen and (max-width: 511px) {
    .upper-content {
        .content-wrapper {
            .img {
                margin-left: 10px;
            }
        }
    }
    .lower-content {
        .content-wrapper {
            .img {
                margin-left: 10px;
            }
        }
    }
    section {
        .carousele-block {
            text-align: center;
            .content {
                text-align: left;
            }
        }
    }
}

// @media only screen and (max-width: 450px) {
//     .image-container {
//         padding: 0 !important;
//     }
// }

// @media only screen and (max-width: 450px) {
//     .second-image {
//         margin-left: 0px !important;
//         margin-right: 0px !important;
//         margin-top: 30px !important;
//         margin-bottom: 30px !important;
//     }
// }