* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 1400px;
  max-width: 100%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span {
  font-family: 'Kaushan Script', cursive;
}

.rectangle {
  display: block;
  margin: 0 auto;
  width: 60px;
  border-top: 2px solid #ffffff;
  margin-bottom: 35px;
}

.rectangle-red {
  display: block;
  margin: 0 auto;
  width: 60px;
  border-top: 2px solid #c32f27;
  margin-top: 35px;
  margin-bottom: 35px;
}

.active-button {
  border: 2px solid #ffffff;
  border-radius: 4px;
}

.mobile-menu {
  display: none;
  float: right;
  margin-top: 5px;
}

.mobile-menu button {
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu .mobile-nav-links {
  display: none;
  position: absolute;
  top: 7vh;
  right: 4vw;
  line-height: 28px;
}

.overlay {
  visibility: hidden;
}

.overlay img {
  margin-top: 90px;
}

.overlay p {
  text-transform: uppercase;
  color: #ffffff !important;
  font-weight: bold;
}

.overlay-with-social {
  visibility: hidden;
}

.overlay-with-social img {
  margin-top: 170px;
}

.overlay-with-social img:nth-child(1) {
  background-color: rgba(255, 117, 110, 0.84);
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
  float: left;
  margin-left: 65px;
}

.overlay-with-social img:nth-child(2) {
  background-color: rgba(255, 208, 107, 0.84);
  padding: 10px;
  padding-bottom: 14px;
  float: left;
}

.overlay-with-social img:nth-child(3) {
  background-color: rgba(255, 208, 107, 0.84);
  padding: 10px;
  float: left;
  border-left: 1px solid rgba(255, 117, 110, 0.84);
  border-right: 1px solid rgba(255, 117, 110, 0.84);
  padding-left: 13px;
  padding-right: 13px;
}

.overlay-with-social img:nth-child(4) {
  background-color: rgba(255, 208, 107, 0.84);
  padding: 10px;
  float: left;
}

.overlay-3 {
  visibility: hidden;
  text-align: center;
  height: 100%;
}

.overlay-3 .overlay-content {
  margin: 0;
  font-size: 1rem;
  position: absolute;
  top: 25%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  width: 50%;
}

.overlay-3 .overlay-content img {
  margin-bottom: 15px;
}

.overlay-3 .overlay-content p {
  text-transform: uppercase;
  color: #ffffff !important;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 1vw;
}

header {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 208, 107, 0.84)), to(rgba(255, 117, 110, 0.84))), url("../../assets/header-image/pexels-radovan-zierik-5138164.jpg");
  background-image: linear-gradient(0deg, rgba(255, 208, 107, 0.84) 0%, rgba(255, 117, 110, 0.84) 100%), url("../../assets/header-image/pexels-radovan-zierik-5138164.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: auto;
}

header nav {
  display: block;
  padding-top: 20px;
}

header nav a:link {
  text-decoration: none;
  color: #ffffff;
}

header nav .web-name {
  float: left;
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

header nav .nav-links {
  word-spacing: 30px;
  margin-top: 6px;
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  float: right;
  text-transform: uppercase;
}

header nav .nav-links a:hover {
  color: #ffbf48;
  padding-bottom: 5px;
  border-bottom: 2px solid #ffbf48;
}

header .header-content {
  margin: 0 auto;
  clear: both;
  display: block;
  text-align: center;
  color: #ffffff;
  margin-top: 18vh;
}

header .header-content span {
  text-transform: capitalize;
  font-size: calc(24px + 1vw);
}

header .header-content h1 {
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 95%;
  font-size: calc(40px + 2vw);
  margin-top: 18px;
  margin-bottom: 25px;
}

header .header-content button {
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  width: 100%;
  max-width: 150px;
  padding: 7px;
  cursor: pointer;
}

header .header-content button:hover {
  border: 2px solid #000000;
  color: #000000;
}

header .header-bottom-content {
  text-align: center;
  display: block;
  padding-bottom: 15px;
}

header .header-bottom-content section {
  display: inline-block;
  color: #ffffff;
  width: 12vw;
  text-align: left;
  margin: 10px;
}

header .header-bottom-content section p {
  text-transform: uppercase;
  margin-top: 14vh;
}

header .header-bottom-content section p span {
  font-weight: 1000;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
}

header .header-bottom-content section .colorfull-border-top {
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, red), color-stop(10%, white));
  background: linear-gradient(to right, red 30%, white 10%);
}

header .header-bottom-content section .colorfull-border-top p {
  padding-top: 10px;
}

header .header-bottom-content section .border-top {
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, to(white));
  background: linear-gradient(white 100%);
}

header .header-bottom-content section .border-top p {
  padding-top: 10px;
}

main section {
  display: block;
  margin: 0 auto;
}

main section .story-about-us-block {
  padding-top: 75px;
  text-align: center;
}

main section .story-about-us-block span {
  font-size: 1.5rem;
}

main section .story-about-us-block h1 {
  margin-top: 15px;
}

main section .story-about-us-block .rectangle-red {
  border-top: 2px solid #c32f27;
}

main section .story-about-us-block p {
  width: 80%;
  margin: 0 auto;
  color: #adb5bd;
}

main section .story-about-us-block .images {
  margin-top: 80px;
}

main section .story-about-us-block .images .image-wrapper {
  display: inline-block;
  padding: 15px;
  max-width: 100%;
}

main section .story-about-us-block .images .image-wrapper .first-image {
  background-image: url("../../assets/first-block-images/pexels-pixabay-39578.jpg");
  background-size: 100% 100%;
  width: 330px;
  height: 230px;
  max-width: 100%;
  cursor: pointer;
}

main section .story-about-us-block .images .image-wrapper .first-image:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 208, 107, 0.84)), to(rgba(255, 117, 110, 0.84))), url("../../assets/first-block-images/pexels-pixabay-39578.jpg");
  background-image: linear-gradient(0deg, rgba(255, 208, 107, 0.84) 0%, rgba(255, 117, 110, 0.84) 100%), url("../../assets/first-block-images/pexels-pixabay-39578.jpg");
  -webkit-box-shadow: 7px 7px #7dcfb6;
          box-shadow: 7px 7px #7dcfb6;
}

main section .story-about-us-block .images .image-wrapper .first-image:hover .overlay {
  visibility: visible;
}

main section .story-about-us-block .images .image-wrapper .second-image {
  background-image: url("../../assets/first-block-images/pexels-garrett-morrow-610945.jpg");
  background-size: 100% 100%;
  width: 330px;
  height: 230px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

main section .story-about-us-block .images .image-wrapper .second-image:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 208, 107, 0.84)), to(rgba(255, 117, 110, 0.84))), url("../../assets/first-block-images/pexels-garrett-morrow-610945.jpg");
  background-image: linear-gradient(0deg, rgba(255, 208, 107, 0.84) 0%, rgba(255, 117, 110, 0.84) 100%), url("../../assets/first-block-images/pexels-garrett-morrow-610945.jpg");
  -webkit-box-shadow: 7px 7px #7dcfb6;
          box-shadow: 7px 7px #7dcfb6;
}

main section .story-about-us-block .images .image-wrapper .second-image:hover .overlay {
  visibility: visible;
}

main section .story-about-us-block .images .image-wrapper .third-image {
  background-image: url("../../assets/first-block-images/pexels-reezky-pradata-441963.jpg");
  background-size: 100% 100%;
  width: 330px;
  height: 230px;
  max-width: 100%;
  cursor: pointer;
}

main section .story-about-us-block .images .image-wrapper .third-image:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 208, 107, 0.84)), to(rgba(255, 117, 110, 0.84))), url("../../assets/first-block-images/pexels-reezky-pradata-441963.jpg");
  background-image: linear-gradient(0deg, rgba(255, 208, 107, 0.84) 0%, rgba(255, 117, 110, 0.84) 100%), url("../../assets/first-block-images/pexels-reezky-pradata-441963.jpg");
  -webkit-box-shadow: 7px 7px #7dcfb6;
          box-shadow: 7px 7px #7dcfb6;
}

main section .story-about-us-block .images .image-wrapper .third-image:hover .overlay {
  visibility: visible;
}

main section {
  display: block;
  height: auto;
}

main section .statistics-block {
  text-align: center;
  background-color: #7dcfb6;
  margin-top: 105px;
}

main section .statistics-block .stats {
  display: inline-block;
  color: #ffffff;
  border-left: 1px solid #ffffff;
  padding: 58px 28px 58px 28px;
  max-width: 276px;
  width: 100%;
}

main section .statistics-block .stats .number {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}

main section .statistics-block .stats span {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 0.63rem;
  opacity: 20;
}

main section .statistics-block .stats:nth-child(5) {
  border-right: 1px solid #ffffff;
}

main section .amazing-services-block {
  margin-top: 75px;
  text-align: center;
}

main section .amazing-services-block span {
  font-size: 1.5rem;
}

main section .amazing-services-block h1 {
  margin-top: 15px;
}

main section .amazing-services-block .rectangle-red {
  margin-bottom: 60px;
}

main section .amazing-services-block .upper-content {
  display: block;
  width: 80%;
  margin: 0 auto;
}

main section .amazing-services-block .upper-content .content-wrapper {
  display: inline-block;
  width: 33%;
  text-align: left;
  height: 150px;
}

main section .amazing-services-block .upper-content .content-wrapper .img {
  float: left;
}

main section .amazing-services-block .upper-content .content-wrapper .content {
  float: right;
  width: 85%;
}

main section .amazing-services-block .upper-content .content-wrapper .content h5 {
  margin-bottom: 10px;
}

main section .amazing-services-block .upper-content .content-wrapper .content p {
  color: #adb5bd;
}

main section .amazing-services-block .lower-content {
  display: block;
  width: 80%;
  margin: 0 auto;
}

main section .amazing-services-block .lower-content .content-wrapper {
  display: inline-block;
  width: 33%;
  text-align: left;
  height: 150px;
}

main section .amazing-services-block .lower-content .content-wrapper .img {
  float: left;
}

main section .amazing-services-block .lower-content .content-wrapper .content {
  float: right;
  width: 85%;
}

main section .amazing-services-block .lower-content .content-wrapper .content h5 {
  margin-bottom: 10px;
}

main section .amazing-services-block .lower-content .content-wrapper .content p {
  color: #adb5bd;
}

main section .unique-design-block {
  position: relative;
}

main section .unique-design-block .content-wrapper {
  display: block;
  position: relative;
  text-align: center;
  padding-top: 75px;
}

main section .unique-design-block .content-wrapper span {
  font-size: 1.5rem;
}

main section .unique-design-block .content-wrapper h1 {
  margin-top: 15px;
}

main section .unique-design-block .content-wrapper img {
  max-width: 25vw;
}

main section .unique-design-block::before {
  content: "";
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, rgba(255, 255, 255, 0.826768)), color-stop(100%, rgba(9, 9, 121, 0.487833)), to(#00d4ff)), url("../assets/unique-design-image/nathan-dumlao-q3YZ4g7j9yc-unsplash.jpg");
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.826768) 100%, rgba(9, 9, 121, 0.487833) 100%, #00d4ff 100%), url("../assets/unique-design-image/nathan-dumlao-q3YZ4g7j9yc-unsplash.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 90.2%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  position: absolute;
}

main section .service-block {
  display: block;
  text-align: center;
}

main section .service-block span {
  font-size: 1.5rem;
}

main section .service-block h1 {
  margin-top: 15px;
}

main section .service-block p {
  display: block;
  width: 70%;
  margin: 0 auto;
  color: #adb5bd;
  padding-bottom: 95px;
}

main section .service-block .img {
  float: left;
}

main section .service-block .img img {
  width: 100%;
  max-width: 490px;
  height: 380px;
}

main section .service-block .dropdowns {
  float: right;
  margin-bottom: 95px !important;
}

main section .service-block .dropdowns .dropdown {
  width: 490px;
}

main section .service-block .dropdowns .dropdown .dropdown-wrapper {
  border: 1px solid #adb5bd;
}

main section .service-block .dropdowns .dropdown .dropdown-wrapper .dropdown-header {
  border-bottom: 1px solid #adb5bd;
  padding-top: 10px;
  padding-bottom: 6px;
}

main section .service-block .dropdowns .dropdown .dropdown-wrapper .dropdown-header .dropdown-image {
  display: inline-block;
  vertical-align: middle;
}

main section .service-block .dropdowns .dropdown .dropdown-wrapper .dropdown-header .dropdown-heading {
  display: inline-block;
  margin-right: 145px;
  margin-left: 145px;
}

main section .service-block .dropdowns .dropdown .dropdown-wrapper .dropdown-header .dropdown-button {
  display: inline-block;
  vertical-align: middle;
}

main section .service-block .dropdowns .dropdown .dropdown-wrapper .dropdown-header .dropdown-button button {
  border: none;
  background: transparent;
  cursor: pointer;
}

main section .service-block .dropdowns .dropdown .dropdown-wrapper .dropdown-content {
  text-align: left;
  width: 467px;
  overflow-y: scroll;
  height: 195px;
}

main section .service-block .dropdowns .dropdown .dropdown-wrapper .dropdown-content p {
  width: 100%;
  padding: 13px;
  font-style: italic;
}

main section .service-block .dropdowns ::-webkit-scrollbar {
  width: 4px;
}

main section .service-block .dropdowns ::-webkit-scrollbar-track {
  background-color: lightgray;
  margin-top: 13px;
  margin-bottom: 13px;
  border-radius: 30px;
}

main section .service-block .dropdowns ::-webkit-scrollbar-thumb {
  background: #7dcfb6;
  border-radius: 30px;
}

main section .service-block .dropdowns .dropdown:nth-child(2) {
  margin-top: 10px;
}

main section .service-block .dropdowns .dropdown:nth-child(2) .dropdown-heading {
  margin-right: 160px !important;
  margin-left: 160px !important;
}

main section .service-block .dropdowns .dropdown:nth-child(3) {
  margin-top: 10px;
}

main section .service-block .dropdowns .dropdown:nth-child(3) .dropdown-heading {
  margin-right: 154px !important;
  margin-left: 154px !important;
}

main section .carousele-block {
  display: block;
  clear: both;
  background-color: #f5f3f4;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 65px;
}

main section .carousele-block .icon-left {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

main section .carousele-block .image {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

main section .carousele-block .image img {
  border: 3px solid #7dcfb6;
  padding: 30px;
}

main section .carousele-block .content {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  margin: 0 auto;
}

main section .carousele-block .content .author-name {
  margin-top: 15px;
}

main section .carousele-block .content .author-name .rectangle-red {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
}

main section .carousele-block .content span {
  margin-left: 5px;
  vertical-align: middle;
}

main section .carousele-block .icon-right {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
}

main section .meet-our-team-block {
  text-align: center;
}

main section .meet-our-team-block span {
  font-size: 1.5rem;
}

main section .meet-our-team-block h1 {
  margin-top: 15px;
}

main section .meet-our-team-block p {
  display: block;
  width: 70%;
  margin: 0 auto;
  color: #adb5bd;
  padding-bottom: 95px;
}

main section .meet-our-team-block .images .image-wrapper {
  display: inline-block;
  padding: 15px;
  max-width: 100%;
}

main section .meet-our-team-block .images .image-wrapper .first-image {
  background-image: url("../../assets/meet-our-team-images/Layer 16.jpg");
  background-size: cover;
  background-position: 24% 0;
  width: 310px;
  height: 380px;
  max-width: 100%;
  cursor: pointer;
}

main section .meet-our-team-block .images .image-wrapper .first-image:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 208, 107, 0.84)), to(rgba(255, 117, 110, 0.84))), url("../../assets/meet-our-team-images/Layer 16.jpg");
  background-image: linear-gradient(0deg, rgba(255, 208, 107, 0.84) 0%, rgba(255, 117, 110, 0.84) 100%), url("../../assets/meet-our-team-images/Layer 16.jpg");
  -webkit-box-shadow: 7px 7px #7dcfb6;
          box-shadow: 7px 7px #7dcfb6;
}

main section .meet-our-team-block .images .image-wrapper .first-image:hover .overlay-with-social {
  visibility: visible;
}

main section .meet-our-team-block .images .image-wrapper .second-image {
  background-image: url("../../assets/meet-our-team-images/Layer 19.jpg");
  background-size: cover;
  background-position: 60% 0;
  width: 310px;
  height: 380px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

main section .meet-our-team-block .images .image-wrapper .second-image:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 208, 107, 0.84)), to(rgba(255, 117, 110, 0.84))), url("../../assets/meet-our-team-images/Layer 19.jpg");
  background-image: linear-gradient(0deg, rgba(255, 208, 107, 0.84) 0%, rgba(255, 117, 110, 0.84) 100%), url("../../assets/meet-our-team-images/Layer 19.jpg");
  -webkit-box-shadow: 7px 7px #7dcfb6;
          box-shadow: 7px 7px #7dcfb6;
}

main section .meet-our-team-block .images .image-wrapper .second-image:hover .overlay-with-social {
  visibility: visible;
}

main section .meet-our-team-block .images .image-wrapper .third-image {
  background-image: url("../../assets/meet-our-team-images/Layer 18.jpg");
  background-size: cover;
  background-position: 50% 0;
  width: 310px;
  height: 380px;
  max-width: 100%;
  cursor: pointer;
}

main section .meet-our-team-block .images .image-wrapper .third-image:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 208, 107, 0.84)), to(rgba(255, 117, 110, 0.84))), url("../../assets/meet-our-team-images/Layer 18.jpg");
  background-image: linear-gradient(0deg, rgba(255, 208, 107, 0.84) 0%, rgba(255, 117, 110, 0.84) 100%), url("../../assets/meet-our-team-images/Layer 18.jpg");
  -webkit-box-shadow: 7px 7px #7dcfb6;
          box-shadow: 7px 7px #7dcfb6;
}

main section .meet-our-team-block .images .image-wrapper .third-image:hover .overlay-with-social {
  visibility: visible;
}

main section .meet-our-team-block .images .image-wrapper .person {
  margin-top: 25px;
}

main section .meet-our-team-block .images .image-wrapper .person h5 {
  margin-bottom: 7px;
}

main section {
  display: block;
}

main section .random-logos {
  text-align: center;
  background-color: #f5f3f4;
}

main section .random-logos .logo {
  display: inline-block;
  vertical-align: middle;
  padding: 55px 35px 55px 35px;
}

main section .random-logos .logo img {
  max-width: 120px;
}

main section {
  display: block;
  margin: 0 auto;
}

main section .our-work-block {
  padding-top: 75px;
  text-align: center;
  margin-bottom: 75px;
}

main section .our-work-block span {
  font-size: 1.5rem;
}

main section .our-work-block h1 {
  margin-top: 15px;
}

main section .our-work-block .rectangle-red {
  border-top: 2px solid #c32f27;
}

main section .our-work-block p {
  width: 80%;
  margin: 0 auto;
  color: #adb5bd;
}

main section .photos {
  font-size: 0;
  width: 100%;
  display: block;
}

main section .photos .first-photos-block {
  font-size: 0;
  display: inline-block;
  width: 50%;
}

main section .photos .first-photos-block .images-block-1 {
  display: inline-block;
  width: 50%;
}

main section .photos .first-photos-block .images-block-1 .image-1 {
  background-image: url("../assets/some-of-work-images/Layer 26.jpg");
  background-size: cover;
  background-position: 100% 90%;
  height: 410px;
  width: 100%;
  cursor: pointer;
  position: relative;
}

main section .photos .first-photos-block .images-block-1 .image-1:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 208, 107, 0.84)), to(rgba(255, 117, 110, 0.84))), url("../assets/some-of-work-images/Layer 26.jpg");
  background-image: linear-gradient(0deg, rgba(255, 208, 107, 0.84) 0%, rgba(255, 117, 110, 0.84) 100%), url("../assets/some-of-work-images/Layer 26.jpg");
}

main section .photos .first-photos-block .images-block-1 .image-1:hover .overlay-3 {
  visibility: visible;
}

main section .photos .first-photos-block .images-block-1 .image-2 {
  background-image: url("../assets/some-of-work-images/Layer 35.jpg");
  background-size: cover;
  background-position: 100% 90%;
  height: 410px;
  width: 100%;
  cursor: pointer;
  position: relative;
}

main section .photos .first-photos-block .images-block-1 .image-2:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 208, 107, 0.84)), to(rgba(255, 117, 110, 0.84))), url("../assets/some-of-work-images/Layer 35.jpg");
  background-image: linear-gradient(0deg, rgba(255, 208, 107, 0.84) 0%, rgba(255, 117, 110, 0.84) 100%), url("../assets/some-of-work-images/Layer 35.jpg");
}

main section .photos .first-photos-block .images-block-1 .image-2:hover .overlay-3 {
  visibility: visible;
}

main section .photos .first-photos-block .images-block-2 {
  display: inline-block;
  width: 50%;
}

main section .photos .first-photos-block .images-block-2 .image-1 {
  background-image: url("../assets/some-of-work-images/Layer 33.jpg");
  background-size: cover;
  background-position: 100% 90%;
  height: 410px;
  width: 100%;
  cursor: pointer;
  position: relative;
}

main section .photos .first-photos-block .images-block-2 .image-1:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 208, 107, 0.84)), to(rgba(255, 117, 110, 0.84))), url("../assets/some-of-work-images/Layer 33.jpg");
  background-image: linear-gradient(0deg, rgba(255, 208, 107, 0.84) 0%, rgba(255, 117, 110, 0.84) 100%), url("../assets/some-of-work-images/Layer 33.jpg");
}

main section .photos .first-photos-block .images-block-2 .image-1:hover .overlay-3 {
  visibility: visible;
}

main section .photos .first-photos-block .images-block-2 .image-2 {
  background-image: url("../assets/some-of-work-images/Layer 29.jpg");
  background-size: cover;
  background-position: 100% 90%;
  height: 410px;
  background-repeat: no-repeat;
  width: 100%;
  cursor: pointer;
  position: relative;
}

main section .photos .first-photos-block .images-block-2 .image-2:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 208, 107, 0.84)), to(rgba(255, 117, 110, 0.84))), url("../assets/some-of-work-images/Layer 29.jpg");
  background-image: linear-gradient(0deg, rgba(255, 208, 107, 0.84) 0%, rgba(255, 117, 110, 0.84) 100%), url("../assets/some-of-work-images/Layer 29.jpg");
}

main section .photos .first-photos-block .images-block-2 .image-2:hover .overlay-3 {
  visibility: visible;
}

main section .photos .second-photos-block {
  font-size: 0;
  display: inline-block;
  width: 50%;
}

main section .photos .second-photos-block .center-image {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

main section .photos .second-photos-block .center-image .image {
  background-image: url("../assets/some-of-work-images/Layer 34.jpg");
  background-size: cover;
  background-position: 48% 100%;
  height: 820px;
  width: 100%;
  cursor: pointer;
  position: relative;
}

main section .photos .second-photos-block .center-image .image:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 208, 107, 0.84)), to(rgba(255, 117, 110, 0.84))), url("../assets/some-of-work-images/Layer 34.jpg") !important;
  background-image: linear-gradient(0deg, rgba(255, 208, 107, 0.84) 0%, rgba(255, 117, 110, 0.84) 100%), url("../assets/some-of-work-images/Layer 34.jpg") !important;
}

main section .photos .second-photos-block .center-image .image:hover .overlay-3 {
  visibility: visible;
}

main section .photos .second-photos-block .images-block {
  display: inline-block;
  width: 50%;
}

main section .photos .second-photos-block .images-block .image-1 {
  background-image: url("../assets/some-of-work-images/Layer 31.jpg");
  background-size: cover;
  background-position: 100% 5%;
  height: 410px;
  width: 100%;
  cursor: pointer;
  position: relative;
}

main section .photos .second-photos-block .images-block .image-1:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 208, 107, 0.84)), to(rgba(255, 117, 110, 0.84))), url("../assets/some-of-work-images/Layer 31.jpg");
  background-image: linear-gradient(0deg, rgba(255, 208, 107, 0.84) 0%, rgba(255, 117, 110, 0.84) 100%), url("../assets/some-of-work-images/Layer 31.jpg");
}

main section .photos .second-photos-block .images-block .image-1:hover .overlay-3 {
  visibility: visible;
}

main section .photos .second-photos-block .images-block .image-2 {
  background-image: url("../assets/some-of-work-images/Layer 32.jpg");
  background-size: cover;
  background-position: 100% 5%;
  height: 410px;
  width: 100%;
  cursor: pointer;
  position: relative;
}

main section .photos .second-photos-block .images-block .image-2:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 208, 107, 0.84)), to(rgba(255, 117, 110, 0.84))), url("../assets/some-of-work-images/Layer 32.jpg");
  background-image: linear-gradient(0deg, rgba(255, 208, 107, 0.84) 0%, rgba(255, 117, 110, 0.84) 100%), url("../assets/some-of-work-images/Layer 32.jpg");
}

main section .photos .second-photos-block .images-block .image-2:hover .overlay-3 {
  visibility: visible;
}

main section .carousele-block-2 {
  display: block;
  margin-bottom: 105px;
}

main section .carousele-block-2 .icon-left {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

main section .carousele-block-2 .image {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

main section .carousele-block-2 .image img {
  background-size: 100% 100%;
  max-width: 160px;
  height: 160px;
  border-radius: 50%;
}

main section .carousele-block-2 .content {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  margin: 0 auto;
}

main section .carousele-block-2 .content .author-name {
  margin-top: 15px;
}

main section .carousele-block-2 .content .author-name .rectangle-red {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
}

main section .carousele-block-2 .content span {
  margin-left: 5px;
  vertical-align: middle;
}

main section .carousele-block-2 .icon-right {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
}

main section .what-people-say-block {
  position: relative;
}

main section .what-people-say-block .content-wrapper {
  display: block;
  position: relative;
  padding-top: 75px;
  width: 90%;
  margin: 0 auto;
}

main section .what-people-say-block .content-wrapper .heading {
  text-align: center;
}

main section .what-people-say-block .content-wrapper .heading span {
  font-size: 1.5rem;
}

main section .what-people-say-block .content-wrapper .heading h1 {
  margin-top: 15px;
}

main section .what-people-say-block .content-wrapper .block-wrapper {
  display: inline-block;
  overflow: hidden;
  width: 49%;
}

main section .what-people-say-block .content-wrapper .block-wrapper .person .image {
  display: inline-block;
  vertical-align: top;
}

main section .what-people-say-block .content-wrapper .block-wrapper .person .image img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

main section .what-people-say-block .content-wrapper .block-wrapper .person .context {
  display: inline-block;
  width: 60%;
}

main section .what-people-say-block .content-wrapper .block-wrapper .person .context .rectangle-red {
  margin-left: 0;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

main section .what-people-say-block::before {
  content: "";
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, rgba(255, 255, 255, 0.826768)), color-stop(100%, rgba(9, 9, 121, 0.487833)), to(#00d4ff)), url("../assets/unique-design-image/nathan-dumlao-q3YZ4g7j9yc-unsplash.jpg");
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.826768) 100%, rgba(9, 9, 121, 0.487833) 100%, #00d4ff 100%), url("../assets/unique-design-image/nathan-dumlao-q3YZ4g7j9yc-unsplash.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  position: absolute;
}

main section .latest-blog-block {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 75px;
}

main section .latest-blog-block span {
  font-size: 1.5rem;
}

main section .latest-blog-block h1 {
  margin-top: 15px;
}

main section .latest-blog-block .images .image-wrapper {
  vertical-align: top;
  display: inline-block;
  padding: 25px;
  max-width: 380px;
  font-size: 1rem;
}

main section .latest-blog-block .images .image-wrapper .first-image {
  background-image: url("../../assets/latest-blog-images/Layer 54.jpg");
  background-size: 100% 100%;
  height: 230px;
  cursor: pointer;
}

main section .latest-blog-block .images .image-wrapper .first-image .date {
  position: absolute;
  margin-left: -10px;
  background-color: #7dcfb6;
  padding: 4px;
  margin-top: 160px;
  color: #ffffff;
}

main section .latest-blog-block .images .image-wrapper .second-image {
  background-image: url("../../assets/latest-blog-images/Layer 55.jpg");
  background-size: 100% 100%;
  height: 230px;
  max-width: 100%;
  cursor: pointer;
}

main section .latest-blog-block .images .image-wrapper .second-image .date {
  position: absolute;
  margin-left: -10px;
  background-color: #7dcfb6;
  padding: 4px;
  margin-top: 160px;
  color: #ffffff;
}

main section .latest-blog-block .images .image-wrapper .third-image {
  background-image: url("../../assets/latest-blog-images/Layer 57.jpg");
  background-size: 100% 100%;
  height: 230px;
  max-width: 100%;
  cursor: pointer;
}

main section .latest-blog-block .images .image-wrapper .third-image .date {
  position: absolute;
  margin-left: -10px;
  background-color: #7dcfb6;
  padding: 4px;
  margin-top: 160px;
  color: #ffffff;
}

main section .latest-blog-block .images .image-wrapper .context {
  text-align: left;
}

main section .map-block {
  position: relative;
}

main section .map-block .content-wrapper {
  display: block;
  position: relative;
  text-align: center;
  padding-top: 65px;
}

main section .map-block .content-wrapper h1 {
  margin-top: 15px;
  color: #ff4d6d;
}

main section .map-block .content-wrapper .rectangle-pink {
  display: block;
  margin: 0 auto;
  width: 60px;
  border-top: 3px solid #ff4d6d;
  margin-top: 35px;
  margin-bottom: 35px;
}

main section .map-block::before {
  content: "";
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, rgba(255, 255, 255, 0.826768)), color-stop(100%, rgba(9, 9, 121, 0.487833)), to(#00d4ff)), url("../assets/unique-design-image/nathan-dumlao-q3YZ4g7j9yc-unsplash.jpg");
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.826768) 100%, rgba(9, 9, 121, 0.487833) 100%, #00d4ff 100%), url("../assets/unique-design-image/nathan-dumlao-q3YZ4g7j9yc-unsplash.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 250px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  position: absolute;
}

footer {
  font-size: 1rem;
}

footer .mogo-footer {
  margin-top: 150px;
  font-size: 0;
}

footer .mogo-footer .left-content {
  display: inline-block;
  width: 33%;
  margin: 0 auto;
  max-width: 100%;
  vertical-align: top;
}

footer .mogo-footer .left-content h2 {
  font-size: xx-large;
  margin-bottom: 30px;
}

footer .mogo-footer .left-content p {
  margin-bottom: 30px;
  font-size: 1rem;
}

footer .mogo-footer .left-content form input {
  display: inline-block;
  height: 39px;
  max-width: 250px;
  border: 1px solid #adb5bd;
}

footer .mogo-footer .left-content form ::-webkit-input-placeholder {
  padding: 26px;
}

footer .mogo-footer .left-content form :-ms-input-placeholder {
  padding: 26px;
}

footer .mogo-footer .left-content form ::-ms-input-placeholder {
  padding: 26px;
}

footer .mogo-footer .left-content form ::placeholder {
  padding: 26px;
}

footer .mogo-footer .left-content form button {
  display: inline-block;
  padding: 12px 30px 12px 30px;
  background-color: #7dcfb6;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

footer .mogo-footer .center-content {
  display: inline-block;
  width: 33%;
  margin: 0 auto;
  vertical-align: top;
  font-size: 1rem;
}

footer .mogo-footer .center-content h3 {
  margin-bottom: 35px;
}

footer .mogo-footer .center-content .blog .text {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}

footer .mogo-footer .right-content {
  display: inline-block;
  width: 33%;
  margin: 0 auto;
  vertical-align: top;
  font-size: 1rem;
}

footer .mogo-footer p {
  font-size: 1rem;
}

@media only screen and (max-width: 1450px) {
  .container {
    width: 95%;
  }
  .statistics-block .stats:nth-child(4) {
    border-right: 1px solid #ffffff;
  }
}

@media only screen and (max-width: 1189px) {
  .statistics-block .stats:nth-child(3) {
    border-right: 1px solid #ffffff;
  }
  .statistics-block .stats:nth-child(4) {
    border-right: none;
  }
}

@media only screen and (max-width: 1062px) {
  .upper-content {
    width: 100% !important;
  }
  .lower-content {
    width: 100% !important;
  }
}

@media only screen and (max-width: 894px) {
  .statistics-block .stats:nth-child(2) {
    border-right: 1px solid #ffffff;
  }
  .statistics-block .stats:nth-child(3) {
    border-right: none;
  }
  .statistics-block .stats:nth-child(4) {
    border-right: 1px solid #ffffff;
  }
}

@media only screen and (max-width: 852px) {
  .upper-content {
    width: 100% !important;
  }
  .upper-content .content-wrapper {
    width: 32% !important;
  }
  .lower-content {
    width: 100% !important;
  }
  .lower-content .content-wrapper {
    width: 32% !important;
  }
}

@media only screen and (max-width: 730px) {
  .container {
    width: 90%;
  }
  .nav-links {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .mobile-menu .mobile-nav-links {
    z-index: 10;
  }
  .upper-content .content-wrapper .img {
    margin-left: 30px;
  }
  .lower-content {
    padding-top: 95px;
  }
  .lower-content .content-wrapper .img {
    margin-left: 30px;
  }
  .amazing-services-block {
    margin-bottom: 75px;
  }
}

@media only screen and (max-width: 632px) {
  .statistics-block .stats {
    border: 1px solid #ffffff;
  }
  .statistics-block .stats:nth-child(3) {
    border-right: 1px solid #ffffff;
  }
}

@media only screen and (max-width: 511px) {
  .upper-content .content-wrapper .img {
    margin-left: 10px;
  }
  .lower-content .content-wrapper .img {
    margin-left: 10px;
  }
  section .carousele-block {
    text-align: center;
  }
  section .carousele-block .content {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */