$whiteColor: #ffffff;
$greyColor: #adb5bd;
$redColor: #c32f27;
$lightGreenColor: #7dcfb6;
$headerMargin: 35px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    width: 1400px;
    max-width: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

 p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

span {
    font-family: 'Kaushan Script', cursive;
}

.rectangle {
    display: block;
    margin: 0 auto;
    width: 60px;
    border-top: 2px solid $whiteColor;
    margin-bottom: $headerMargin;
}

.active-button {
    border: 2px solid#ffffff;
    border-radius: 4px;
}

.mobile-menu {
    display: none;
    float: right;
    margin-top: 5px;
    button {
        background: none;
        border: none;
        cursor: pointer;
    }
    .mobile-nav-links {
        display: none;
        position: absolute;
        top: 7vh;
        right: 4vw;
        line-height: 28px;
    }
}

.overlay {
    visibility: hidden;
    img {
        margin-top: 90px;
    }
    p {
        text-transform: uppercase;
        color: $whiteColor !important;
        font-weight: bold;
    }
}

header {
    background-image: linear-gradient(0deg, rgba(255,208,107,0.84) 0%, rgba(255,117,110,0.84) 100%), url('../../assets/header-image/pexels-radovan-zierik-5138164.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 73vh;
    nav {
        display: block;
        padding-top: 20px;
        a:link {
            text-decoration: none;
            color: $whiteColor;
        }
        .web-name {
            float: left;
            font-weight: bold;
            font-size: 2rem;
            font-family: 'Montserrat', sans-serif;
        }
        .nav-links {
            word-spacing: 30px;
            margin-top: 6px;
            font-size: 1rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            float: right;
            text-transform: uppercase;
            a:hover {
                color: rgb(255, 191, 72);
                padding-bottom: 5px;
                border-bottom: 2px solid rgb(255, 191, 72);
            }
        }
    } 
    .header-content {
        margin: 0 auto;
        clear: both;
        display: block;
        text-align: center;
        color: $whiteColor;
        margin-top: 18vh;
        span {
            text-transform: capitalize; 
            font-size: calc(24px + 1vw);          
        }
        h1 {
            // Blogas blokas ant telefonu!
            margin: 0 auto;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            line-height: 95%;
            font-size: calc(40px + 2vw);
            margin-top: 18px;
            margin-bottom: 25px;
        }
        button {
            text-transform: uppercase;
            color: $whiteColor;
            background: transparent;
            border: 2px solid $whiteColor;
            width: 100%;
            max-width: 150px;
            padding: 7px;
            cursor: pointer;
        }
    }
    .header-bottom-content {
        text-align: center;
        display: block;
        section {
            display: inline-block;
            color: $whiteColor;
            width: 12vw;
            // width: 17%;
            text-align: left;
            margin: 10px;
            p {
                text-transform: uppercase;
                margin-top: 14vh;
                span {
                    font-weight: 1000;
                    font-size: 1.3rem;
                    font-family: 'Montserrat', sans-serif;
                }
            }
            .colorfull-border-top {
                content:"";
                width:100%;
                height: 2px;
                left:0;
                top:0;
                background:linear-gradient(to right, red 30%, white 10%);
                p {
                    padding-top: 10px;
                }
            }
            .border-top {
                content:"";
                width:100%;
                height: 2px;
                left:0;
                top:0;
                background:linear-gradient(white 100%);
                p {
                    padding-top: 10px;
                }
            }
        }
    }   
}

main {
    .story-about-us-block{
        display: block;
        margin: 0 auto;
        section {
            padding-top: 75px;
            text-align: center;
            span {
                font-size: 1.5rem;    
            }
            h1 {
                margin-top: 15px;
                text-transform: uppercase;
            }
            .rectangle {
                border-top: 2px solid $redColor;
                margin-top: $headerMargin;
            }
            p {
                width: 80%;
                margin: 0 auto;
                color: $greyColor;
            } 
            .images {
                margin-top: 80px;
                .image-container {
                    display: inline-block;
                    padding: 15px;
                    max-width: 100%;
                    .first-image {
                        background-image: url('../../assets/first-block-images/pexels-pixabay-39578.jpg');
                        background-size: 100% 100%;
                        width: 330px;
                        height: 230px;
                        max-width: 100%;
                        cursor: pointer;
                    }
                    .first-image:hover {
                        background-image: linear-gradient(0deg, rgba(255,208,107,0.84) 0%, rgba(255,117,110,0.84) 100%), url('../../assets/first-block-images/pexels-pixabay-39578.jpg');
                        box-shadow: 7px 7px $lightGreenColor;
                        .overlay {
                            visibility: visible;
                        }
                    }
    
                    .second-image {
                        background-image: url('../../assets/first-block-images/pexels-garrett-morrow-610945.jpg');
                        background-size: 100% 100%;
                        width: 330px;
                        height: 230px;
                        max-width: 100%;
                        box-sizing: border-box;
                        cursor: pointer;
                    }
                    .second-image:hover {
                        background-image: linear-gradient(0deg, rgba(255,208,107,0.84) 0%, rgba(255,117,110,0.84) 100%), url('../../assets/first-block-images/pexels-garrett-morrow-610945.jpg');
                        box-shadow: 7px 7px $lightGreenColor;
                        .overlay {
                            visibility: visible;
                        }
                    }
    
                    .third-image {
                        background-image: url('../../assets/first-block-images/pexels-reezky-pradata-441963.jpg');
                        background-size: 100% 100%;
                        width: 330px;
                        height: 230px;
                        max-width: 100%;
                        cursor: pointer;
                    }
                    .third-image:hover {
                        background-image: linear-gradient(0deg, rgba(255,208,107,0.84) 0%, rgba(255,117,110,0.84) 100%), url('../../assets/first-block-images/pexels-reezky-pradata-441963.jpg');
                        box-shadow: 7px 7px $lightGreenColor;
                        .overlay {
                            visibility: visible;
                        }
                    }
                }
            }  
        }
    }
    .statistics-block {
        display: block;
        margin-top: 135px;
        background-color: $lightGreenColor;
        height: 200px;
        section {
            text-align: center;
            .stats {
                display: inline-block;
                color: $whiteColor;
                .number {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 4rem;
                }
                span {
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                }
            }
            
        }
    }
}

@media only screen and (max-width: 1450px) {
    .container {
        width: 95%;
    }
    // .header-content {
    //     h1 {
    //         font-size: 6vw;
    //     }
    // }
}

@media only screen and (max-width: 1280px) {
    // .header-content {
    //     h1 {
    //         font-size: 6vw;
    //     }
    // }
}

@media only screen and (max-width: 730px) {
    .container {
        width: 90%;
    }
    .nav-links {
      display: none;
    }
    .mobile-menu{
        display: block;
        .mobile-nav-links {
            z-index: 10;
        }
    }
}

// @media only screen and (max-width: 450px) {
//     .image-container {
//         padding: 0 !important;
//     }
// }

// @media only screen and (max-width: 450px) {
//     .second-image {
//         margin-left: 0px !important;
//         margin-right: 0px !important;
//         margin-top: 30px !important;
//         margin-bottom: 30px !important;
//     }
// }